$font-size: 3rem;

.contact {
	font-family: "Major Mono Display", monospace;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: $font-size;
	color: #24fe41;

	span {
		display: block;
	}
}
.contact-mobile {
	font-family: "Major Mono Display", monospace;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: $font-size;
	color: #24fe41;

	span {
		display: block;
	}
}

.contact__sub {
	font-family: "Montserrat", sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: $font-size - 1.5rem;
	color: #c6cd7b;

	& > div {
		font-size: 3rem;
		width: 12ch;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
.contact__sub-mobile {
	font-family: "Montserrat", sans-serif;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: $font-size - 1.5rem;
	color: #c6cd7b;

	font-size: 3rem;
	min-width: 10ch;
	max-width: 12ch;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
