@use '../abstracts' as *;

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: auto;
	background-color: map-get($colours, "second-bg");
	box-shadow: 0 0 1em 0.3em map-get($map: $colours, $key: "shadow");
}
