@use '../abstracts' as *;

nav {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	// border: 1px solid red;
	width: 100%;
	display: flex;
	background-color: map-get($colours, "second-bg");
	gap: 2rem;
	box-shadow: 0 0 1em 0.3em map-get($map: $colours, $key: "shadow");
}

.logo {
	display: block;
	padding: 0.3rem 1rem;
}

.nav {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: flex-end;
	margin-right: 2rem;
	gap: 1rem;
}

.nav__link {
	position: relative;
	display: flex;
	padding: 0.3em 1em;
	height: 100%;
	align-items: center;
}

.nav__link::before {
	content: "";
	position: absolute;
	// z-index: -1;
	height: 2px;
	left: 0;
	right: 100%;
	bottom: 0;
	background-color: map-get($colours, "main-title");
	transition: right 0.3s ease-out;
}

.nav__link:hover::before {
	right: 0;
}

// .nav__link:focus-visible {
// 	background-color: map-get($colours, "hover-bg");
// 	outline: 0.2rem solid map-get($map: $colours, $key: "main-title");
// }

@media only screen and (max-width: map-get($map: $sizes, $key: "mobile")) {
	nav {
		flex-direction: column;
		gap: 0;
		height: auto;
	}
	.nav {
		justify-content: flex-start;
		flex-direction: column;
		transition: margin 0.3s ease, opacity 0.2s ease, visibility 0.2s ease;
		margin-top: -310.4px;
		opacity: 0;
		visibility: hidden;
		align-items: center;
	}
	.nav__link {
		padding: 1.3rem 4rem;
	}
	.nav__link:hover::before {
		all: unset;
	}
	.nav__link:hover {
		background-color: map-get($colours, "hover-bg");
	}
	input[type="checkbox"]:checked ~ ul.nav {
		margin-top: 0;
		opacity: 1;
		visibility: visible;
	}
	.hamburger {
		display: block !important;
	}
}
