@use '../abstracts' as *;

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(29em, 1fr));
	gap: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
	// align-items: center;
	justify-items: center;
	margin-bottom: 5rem;
}

@media only screen and (max-width: map-get($map: $sizes, $key: "mobile")) {
	.gallery {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 0 1rem;
	}
}
