@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,600&family=Ubuntu:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Indie+Flower&family=Pacifico&family=Sacramento&display=swap");

$fonts: (
	"main": "Ubuntu",
	"main-title": "Open Sans",
	"quote1": "Dancing Script",
	"quote2": "Indie Flower",
	"quote3": "Pacifico",
	"quote4": "Great Vibes",
	"quote5": "Sacramento"
);

$font-size: (
	"100": 1rem,
	"200": 1.25rem,
	"300": 1.5rem,
	"400": 1.75rem,
	"500": 2rem,
	"quote": 3.5rem,
	"quote-mobile": 2.5rem,
	"author": 3rem,
	"author-mobile": 2rem
);

$font-weight: (
	"100": 300,
	"200": 400,
	"300": 500,
	"400": 600,
	"500": 700
);
