.contactIcon__wrapper {
	a {
		display: block;
	}

	.contactIcon {
		display: block;
		width: 4.5rem;
		height: 4.5rem;
		transition: transform 0.2s ease;
	}
}

.contactIcon:hover {
	transform: scale(1.2);
}
