@use "../../var.scss" as *;

.team-container {
  margin: 5rem 0;

  .team-container__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;

    text-align: center;
  }

  .team-container__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.team-container__team {
  @media screen and (min-width: $mobile-width) {
    min-width: 350px;
    min-height: 400px;
  }

  @media screen and (max-width: $mobile-width) {
    max-width: 300px;
  }

  border-radius: 5px;
  background-color: #323232;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template-rows: 40% 45% 10%;

  .team-container__team__avatar {
    width: fit-content;

    @media screen and (min-width: $mobile-width) {
      margin: 1rem;
      padding: 1rem;

      margin-top: 1rem;
    }

    @media screen and (max-width: $mobile-width) {
      margin-top: 2rem;
    }

    img {
      width: 100px;
      height: 100px;

      border-radius: 50%;
    }
  }

  .team-container__team__title {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $mobile-width) {
      flex-direction: column;
    }
  }

  .team-container__team__username {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
  }

  .team-container__team__name {
    font-size: 0.8rem;
    text-align: center;
    opacity: 0.8;
    color: $fern-color;
  }

  .team-container__team_tags {
    font-size: 0.75rem;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding: 0.5rem;
  }

  .team-container__team__social {
    padding: 1rem;
    display: flex;

    a {
      img {
        transition: opacity 0.5s ease-in-out;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
      margin: 0 0.5rem;
      padding: 0.5rem;
    }
  }
}
