$body-bg-color: #151414;
$body-color: #fff;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@import url("./anim.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;

  background: rgb(41, 41, 41);
  background: linear-gradient(
    0deg,
    rgba(41, 41, 41, 1) 0%,
    rgba(36, 36, 37, 1) 19%,
    rgba(30, 30, 33, 1) 39%
  );
  background-attachment: fixed; /*edit*/

  color: $body-color;
  overflow-x: hidden;
}
