@use "./var.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("./anim.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;

  background: rgb(41, 41, 41);
  background: linear-gradient(
    0deg,
    rgba(41, 41, 41, 1) 0%,
    rgba(36, 36, 37, 1) 19%,
    rgba(30, 30, 33, 1) 39%
  );
  background-attachment: fixed; /*edit*/

  color: $body-color;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $body-bg-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $fern-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $fern-color;
}

#root {
  position: relative;

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
    z-index: 100;

    background: rgba($color: rgb(41, 41, 41), $alpha: 0.7);

    a {
      color: $fern-color;
      text-decoration: none;
    }
  }
}
