$mobile-width: 800px;

/* Nav */
$navbar-bg-color: #1a1a1a;
$navbar-hover-color: #69f567;
$navbar-lab-color: #7dc3ff;

/* Pages */
$fern-color: #69f567;

/* Index */
$body-bg-color: rgb(41, 41, 41);
$body-color: #fff;
