@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

$background: #303440; //#25262f
$widgetColor: #292b38;
$timeFontColor: #b7e382;
$colonFontColor: #fd6888;

$minWidthMedia: 860px;
